/* 7 row 3 column 
name and contact on row 2 in column 2

projects split between columns 1 and 3, with each having their own row
have skills in projects

*/
.App {
    background: rgb(215,238,174);
background: radial-gradient(circle, rgba(215,238,174,1) 0%, rgba(148,233,188,1) 100%);
}

.Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25vh repeat(6, 40vh);
}

.Name {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
}

.Contact {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
}

.fc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.P1 {
    
    grid-column: 3;
    grid-row: 3;
}

.P2 {
   
    grid-column: 1;
    grid-row: 4;
}

.P3 {
   
    grid-column: 3;
    grid-row: 5;
}

.P4 {
  
    grid-column: 1;
    grid-row: 6;
}